<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Remove WebDAV module that blocks PUT and DELETE HTTP methods -->
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <!-- Remove WebDAV handler that intercepts PUT/DELETE -->
        <remove name="WebDAV" />
        <!-- Allow all HTTP verbs through to ASP.NET Core -->
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SmartSolarMicrogrid.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" />
    </system.webServer>
  </location>
</configuration>
